<p style="color: green"><%= notice %></p>

<h1><%= "#{t('messages.listing')} #{@contacts.model.model_name.human(count: @contacts.count)}" %></h1>

<div id="contacts">
  <% @contacts.each do |contact| %>
    <%= render contact %>
  <% end %>
</div>

<%= link_to t('buttons.new'), new_contact_path %>
